html{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.col-container{
  display: flex;
  flex-direction: column;
  width: 1360px; /* 960 is site width */
}


.logo{
  display: flex;
  flex-direction: row;
  background-color: black;
}

.logo img {
  height: 1.5rem;
  margin-top: .5rem;
  margin-left: 10rem;
  padding-left: .51rem;
  margin-right: 1rem;
}
.logo h2{
  font-size: 1rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
  color: white;
}

.main-banner{
  height: 25rem;

  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-size: cover;
}

.main-banner-text{
  background-color: black;
  color: white;
  width: 20rem;   /* from redline spec */
  margin-top: 9rem;
  margin-left: 11rem;
  padding-top: 2rem;  /* from Redline spec */
  padding-left: 3rem;  /* from Redline spec */
  padding-bottom: 2rem;
}

.main-banner-text h2{
  font-weight: bold;
  font-size: 1rem;
  background-color: black;
  color: white;
  letter-spacing: .1rem;
  padding-bottom: .25rem;  /* from Redline spec */
}

.main-banner-text h1{
  background-color: black;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
nav {
  width: 100%;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  background-color: firebrick;
  color: white;
}

nav span{

  margin-top: .75rem;
  margin-bottom: .75rem;
}

nav a{
  text-decoration: none;
  color: white;
}

.product-grid {
  display: flex;
  flex-direction: row;
}

.product-item img{
  height: 9rem;
}
